.photoAvatar {
    width: 150px;
}

.container {
    background-color: rgba(62, 156, 207, 0.12);
    margin: 10px;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}