.photoAvatar {
    width: 150px;
}

.container {
    background-color: #ffd000;
    margin: 10px;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(55, 66, 122, 0.24);
}

.selectedPage {
    font-weight: bold;
    font-size: 1.2em;
    background-color: #FFD700;
    padding: 2px;
}

.pages {
    margin: 5px 0;
}

.pages:hover {
    cursor: pointer;
}

.userItem button:hover {
    cursor: pointer;
}

.pages span {
    margin-left: 5px;
}

.unFollow {
    background-color: red;
}

.follow {
    background-color: #1DA1F2;
}