.header {
    grid-area: h;
    background-color: #3D5B99;
}

.header img {
    width: 9%;
    padding: 0 15px;
}

.header img:hover {
    cursor: pointer;
}

.title {
    font-size: 40px;
}

.login {
    float: right;
    margin: 15px;
    padding: 0;
}

.login a {
    font-weight: bold;
    color: #FFD700;
    font-size: 1.3em;
}