.nav {
    grid-area: n;
    background-color: brown;
    padding: 20px
}
.item {
    margin: 15px 0;
}

.item:first-child {
    margin-top: 0;
}

.item:last-child {
    margin-bottom: 0;
}

.item a {
    color: white;
    text-decoration: none;
}

.item a.activeLink {
    color: gold;
}