.nav {
    grid-area: n;
    background-color: #4370b4;
    padding: 20px
}
.item {
    margin: 15px 0;
}

.item:first-child {
    margin-top: 0;
}

.item:last-child {
    margin: 70px 0;
}

.item a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
}

.item a.activeLink {
    color: gold;
}